/* ===== GLOBAL BACKGROUND ===== */
body {
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(circle at top, #0f172a 0%, #020617 70%),
    repeating-linear-gradient(
      45deg,
      rgba(56,189,248,0.03),
      rgba(56,189,248,0.03) 10px,
      transparent 10px,
      transparent 20px
    );
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}




/* ===== QUESTION ===== */
h2 {
  color: #38bdf8;
  z-index: 2;
  position: relative;
}

input {
  padding: 8px;
  width: 300px;
  z-index: 2;
  position: relative;
}

button {
  padding: 8px 16px;
  margin-left: 5px;
  background-color: #22c55e;
  border: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

/* ===== QUERY ===== */
pre {
  color: #facc15;
  margin-top: 15px;
}

/* ===== ERROR ===== */
.error {
  color: #ef4444;
  font-weight: bold;
  margin-top: 20px;
}

/* ===== FLAG ===== */
.flag {
  color: #22c55e;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

/* ===== TABLE ===== */
table {
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #020617;
}

th, td {
  border: 1px solid #38bdf8;
  padding: 8px 12px;
}

th {
  color: #38bdf8;
}
